@import './base.css';

h1 {
  font-family: Forum;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

h2 {
  font-family: Forum;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

h3 {
  font-family: Forum;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

.price {
  font-family: Raleway;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 7%;
}

.main-text {
  font-family: Raleway;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 7%;
}

.additional-text {
  font-family: Raleway;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 7%;
}
