@import './base.css';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

h1 {
  font-family: Forum;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

h2 {
  font-family: Forum;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

h3 {
  font-family: Forum;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: 7%;
  text-transform: uppercase;
}

.price {
  font-family: Raleway;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 7%;
}

.main-text {
  font-family: Raleway;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 7%;
}

.additional-text {
  font-family: Raleway;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 7%;
}

button {
  font-family: Forum;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  border: 3px solid var(--white);
  display: inline-block;
  padding: 8px 42px;
  background-color: transparent;
  letter-spacing: 3px;

  &:hover {
    background-color: #cdcdcd;
  }
  &:active {
    outline: none;
    color: var(--black);
    background: var(--white);
  }
  &[disabled] {
    color: var(--grey);
    border-color: var(--grey);
    &:hover {
      background-color: transparent;
    }
  }
  &.icon {
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover,
    &:active {
      color: var(--white);
      background-color: transparent;
    }
  }
}
